* {
  box-sizing: border-box;
  font: arial;
}

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 150px 800px 350px;
}

header {
  grid-column: span 10;
  background-color: #03a3df;
  display: flex;
}

header img {
  height: 100px;
  align-self: center;
}

h1 {
  color: white;
  align-self: center;
  font-size: 3rem;
  font: arial;
}

nav ul {
 display: flex;
}

nav ul li {
  display: flex;
  margin-left: .4rem;
  margin-right: .4rem;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.index-article {
  grid-column: span 10;

}

footer {

  background-color: #03a3df;
  background-image: url(../images/footerImage.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  grid-column: span 10;
}

footer img {
  height: 100px;
  height: 4rem;
  margin-left: 3rem;
  margin-top: 5rem;
}

footer p {
  margin-left: 3rem;
  color: white;
  width: 25%
}
