* {
  box-sizing: border-box;
  font-family: Arial, Helevetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 150px 800px 350px;
}

header {
  grid-column: span 10;
  background-color: #03a3df;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 100px;
  align-self: center;
  margin-left: 3rem;
}

h1 {
  color: white;
  align-self: center;
  font-size: 3rem;
}


nav ul {
 display: flex;
 margin-right: 2rem;
}

nav ul li {
  display: flex;
  margin-left: .4rem;
  margin-right: .4rem;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.index-article {
  grid-column: span 10;

}

footer {

  background-color: #03a3df;
  background-image: url(../images/footerImage.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  grid-column: span 10;
}

footer img {
  height: 100px;
  height: 4rem;
  margin-left: 3rem;
  margin-top: 5rem;
}

footer p {
  margin-left: 3rem;
  color: white;
  width: 25%
}

.staff-bios {
  margin-top: 2rem;
  grid-column: span 10;
  display: inline-flex;
  justify-content: space-between;
  color: #03a3df;
}


.staff-bios p {
  font-size: 1.3rem;
}

hr {
  height: 1px;
  background-color: #03a3df;
  border: none;
  width: 80%;
  margin: 0px;
}

.bio-card {
  width: 20%;
}
